services:
  nginx:
    image: "jc21/nginx-proxy-manager:latest"
    network_mode: host
    restart: unless-stopped
    volumes:
      - ./data:/data
      - ./letsencrypt:/etc/letsencrypt
      - /opt/websites:/mnt/user/appdata/NginxProxyManager/websites
